

/* colors */
$main-color: #0067DA;
$second-color: #F9AE00;
$color-black: #000000;
$color-white: #FFFFFF;
$color-grey: #9C9AAA;
$color-bleu-claire: #D4EDFC;
$color-gris:#424242;

/* size */
$size-header:18px;
$size-title-h1:42px;
$size-title-text:16px;
