@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* colors */
$main-color: #0067DA;
$second-color: #F9AE00;
$color-black: #000000;
$color-white: #FFFFFF;
$color-grey: #9C9AAA;

/* size */
$size-header:18px;
$size-title-h1:42px;
$size-title-text:16px;
